{% load static %}
<html><head>
<meta http-equiv="content-type" content="text/html; charset=ISO-8859-1"><title>Navigation</title><!-- base --></head><body vlink="#660066" text="#000000" link="#0000ff" bgcolor="#c0c0c0" alink="#ff0000">
 
<table cols="1" width="80%" cellspacing="2" cellpadding="0" border="0" align="center">

<tr><td><a href="/home" target="Frame2 " class="black-text"><b>News</b></a></td></tr>
{% if user.is_authenticated %}
<tr><td><a href="/profile" target="Frame2" class="black-text"><b>My Profile</b></a></td></tr>
{% endif %}
<tr><td><a href="/tournaments" target="Frame2" class="black-text"><b>2019 Tournaments</b></a></td></tr>
<tr><td><a href="/rankings" target="Frame2" class="black-text"><b>Browse Rankings</b></a></td></tr>
<tr><td><a href="/gallery" target="Frame2" class="black-text"><b>Gallery</b></a></td></tr>
<tr><td><a href="/history" target="Frame2" class="black-text"><b>Club History</b></a></td></tr>
<tr><td><a href="/contact" target="Frame2" class="black-text"><b>Contact</b></a></td></tr>
<tr><td><a href="/register" target="Frame2" class="black-text"><b>Join Today</b></a></td></tr>
<tr><td><a href="/donate" target="Frame2" class="black-text"><b>Donate</b></a></td></tr>


</tbody></table></body></html>