{% extends 'main/header.html' %}
{% load static %}
{% block content %}

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html><!-- GoWiki by Arno and Morten, based on PhpWiki -->
<head><title>Go at Sensei's Library</title>

<META http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<META NAME="description" CONTENT="Sensei's Library, page: Go, keywords: Culture &amp; History, SL description. SL is a large WikiWikiWeb about the game of Go (Baduk, Weiqi). It's a collaboration and community site. Everyone can add comments or edit pages.">

<script type="text/javascript" src="/templates/main.js"></script>
<link rel="stylesheet" type="text/css" media="print" href="/templates/print.css">
<link rel="stylesheet" type="text/css" media="screen" href="/templates/main.css">
<link rel="stylesheet" type="text/css" media="screen" href="/templates/sl.css">
<style type="text/css" media="screen">
body {
	font-size: 86%;
	font-family: sans-serif;	}
div.contentsize { font-size: 100% }
</style>
<!--[if IE]><style type="text/css"> #toppane { position: absolute } </style><![endif]-->
</head>

<body id="browse" class="mainpage">

<div id="contentwrapper" class="left-mainpage">
<div id="contentpane" class="mainpage">
<div class="contentsize"><h1 id="pagetitle">Go</h1></div>

<a href="https://senseis.xmp.net/?go">[link to original article]This page is copied from sensei's go, all credit goes to sensei :)</a>
<h2><a name='toc1'></a>What is Go? 
</h2>

<p><img src="http://senseis.xmp.net/images/goban-alignright.jpg" class='right' ALT="Goban (image by Juha Nieminen)">
</p>

<p><strong>Go</strong> is an ancient game which, from its forgotten origins in China, spread first to the rest of East Asia, and then to the entire world. How ancient? Historians aren't sure; it has a definite history of over 3000 years, but according to tradition Go was invented more than 4000 years ago. The English name comes from the Japanese name Igo, which means &quot;surrounding boardgame&quot;.
</p>

<p>In this game, each player tries to use threats of death, capture, or isolation to assert control over more of the board than his opponent. An abstract strategy game at heart, Go has nonetheless been interpreted as a stylized representation of fighting a war, settling a frontier, cornering a market, thrashing out an argument, or even of fortune-telling and prophecy. Go has always been one of the most played games in the world. Top-level international competitions can make the best players millionaires.
</p>
<div class='sidebarright'>
<p>Chinese: &#22260;&#26827; (Wéiqí or wei2qi2) <br>
Chinese trad.: &#22285;&#30849; (Wéiqí or wei2qi2) <br>
English (Alternative): <a href="/?Goe">Goe</a><br>
Japanese: &#30849; (go), &#22258;&#30849; (igo) <br>
Korean: &#48148;&#46161; (Baduk) <br>
</p>
</div>





</div>

</body>
</html>
<!-- TIME: 0.019 -->


{% endblock %}